# 注意本文件一定要为UTF8编码，否则会解析不成功
BasedOnStyle: Google

# 缩进宽度
IndentWidth: 4

# 连续的空行保留几行
MaxEmptyLinesToKeep: 1

#tab键盘的宽度
TabWidth: 4
UseTab: Never

# 每行字符的限制，0表示没有限制
ColumnLimit: 120

# 在大括号前换行: Attach(始终将大括号附加到周围的上下文), Linux(除函数、命名空间和类定义，与Attach类似),
#   Mozilla(除枚举、函数、记录定义，与Attach类似), Stroustrup(除函数定义、catch、else，与Attach类似),
#   Allman(总是在大括号前换行), GNU(总是在大括号前换行，并对于控制语句的大括号增加额外的缩进), WebKit(在函数前换行), Custom
#   注：这里认为语句块也属于函数
BreakBeforeBraces: Allman

# 允许排序#include
SortIncludes: false

# 行尾注释对齐
AlignTrailingComments: true

# 指针向右对齐: 即靠近指针变量名
PointerAlignment: Right

# 是否允许短if单行 If true, if (a) return; 可以放到同一行
AllowShortIfStatementsOnASingleLine: false

# 注释对齐
AlignTrailingComments: true

# 访问说明符(public、private等)的偏移
AccessModifierOffset: -4

# false表示函数实参要么都在同一行，要么都各自一行
BinPackArguments: true

# 在尖括号的<后和>前添加空格
SpacesInAngles: false

# 如果为true，则连续的名称空间声明将在同一行上。 如果为false，则在新的一行上声明每个名称空间。
CompactNamespaces: false

# 如果为true,clang-format会在命名空间定义结尾处添加注释,并修复无效的现有注释
FixNamespaceComments: true

# 允许短的函数放在同一行: None, InlineOnly(定义在类中), Empty(空函数), Inline(定义在类中，空函数), All
AllowShortFunctionsOnASingleLine: Empty
