build/
/tool/ReadConfFile/build/*
/SourceInsight/*
*.si4project/*
/.vscode/*
*.dsp
*.dsw
*.pdb
*.sisc
*.log
*.scc
*.dll
*.dll*
*.skincfg
*.bpr
*.res
*.def
*.cache
Makefile
*.lastbuildstate
*.user
*.wav
*.dat
*.dmp
*.tmp
*.cd
*.manifest
*.local
/*.lnk
*.obj
*.tlog
*.sbr
*.~*~
*.idb
*.unsuccessfulbuild
*.ipch
*.sdf
*.opensdf
*.pch
*.#00
*.ilk
*.bsc
*.cbproj.local.*
*.tds
*.map
*.#*
smd_server/.vs/*
*.exe
*.suo
doxygen/
doxy/
bak/
bin/
.vscode/
.vscode/settings.json
